{% extends 'base.html' %}

{% block head_title %}Cadastrar | {{ block.super }}{% endblock head_title %}

{% block content %}

{% include 'navbar.html' %}
<br/><br/><br/><br/>

<!-- Form Name -->
<legend>Cadastrar</legend>

<form class="form-horizontal" action="." method="POST">{% csrf_token %}
<fieldset>
  
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="nome">Nome</label>  
      <div class="col-md-4">
      <input class="form-control input-md" id="nome" type="text" name="nome" placeholder="Digite o nome do manual" maxlength="150">
      </div>
    </div>
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="sobrenome">Sobrenome</label>  
      <div class="col-md-4">
      <input class="form-control input-md" id="sobrenome" type="text" name="sobrenome" placeholder="Digite o sobrenome" maxlength="30">
      </div>
    </div>
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="email">E-mail</label>  
      <div class="col-md-4">
      <input class="form-control input-md" id="email" type="text" name="email" placeholder="Digite o e-mail">
      </div>
    </div>
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="telefone">Telefone</label>  
      <div class="col-md-4">
      <input class="form-control input-md" id="telefone" type="text" name="telefone" placeholder="Digite o numero de telefone" maxlength="20">
      </div>
    </div>

    <!-- Textarea -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="observacao">Observação</label>
      <div class="col-md-4">                     
        <textarea class="form-control" id="observacao" name="observacao" placeholder="Digite aqui as observações sobre o manual." maxlength="400"></textarea>
      </div>
    </div>
    
    <!-- Button (Double) -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="btnCancel">Salvar dados</label>
      <div class="col-md-8">
        <button type="submit"  id="btnSave" name="btnSave" class="btn btn-primary">Cadastrar</button>
        <a id="btnCancel" name="btnCancel" class="btn btn-success" href="{% url 'listar' %}">Cancelar</a>
      </div>
    </div>

</fieldset>
</form>
{% endblock %}