{% extends 'base.html' %}

{% block head_title %}Excluir | {{ block.super }}{% endblock head_title %}

{% block content %}
{% include 'navbar.html' %}
<br/><br/><br/><br/>

<legend>Excluir?</legend>
    <p>{{ cliente.nome }}</p>
    <p>{{ cliente.sobre_nome }}</p>
    <p>{{ cliente.data_nascimento }}</p>
    <form action="{% url clientes:delete cliente.id %}" method="POST">
        {% csrf_token %}
        <input type="submit" class="btn btn-danger" value="Sim">
        <a href="{% url clientes:list %}" class="btn">Cancelar</a>
    </form>
{% endblock %}