{% extends 'base.html' %}

{% block head_title %}Detalhes | {{ block.super }}{% endblock head_title %}

{% block content %}
{% include 'navbar.html' %}
<br/><br/><br/><br/>

<!-- Table Name -->
<legend>Detalhes</legend>


<div class="container">
	<div class="row">
        <dl>
             <dt>{{ contato.id }}</dt>
             <dt>{{ contato.nome }} {{ contato.sobrenome }}</dt>
             <dd>{{ contato.email }}</dd>
             <dd>{{ contato.telefone }}</dd>
             <dd>{{ contato.observacao }}</dd>
        </dl>
        <a href="/excluir/{{contato.id}}" ><button type="submit" class="btn btn-primary">Excluir</button></a>
    <a href="{%url 'listar' %}" ><button type="submit" class="btn btn-success">Voltar</button></a>
	</div>
</div>


{% endblock %}
