{% extends 'base.html' %}

{% block head_title %}Listar | {{ block.super }}{% endblock head_title %}

{% block content %}
{% include 'navbar.html' %}
<br/><br/><br/><br/>

<!-- Table Name -->
<legend>Listar</legend>

<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Email</th>
            <th>Número</th>
            <th>Observação</th>
            <th>Ações</th>
            <!--<th>Deletar</th>-->
        </tr>
    </thead>
    <tbody>
    	{% for contato in contatos %}
        <tr>
            <td>{{contato.id}}</td>
            <td>{{contato.nome}}</td>
            <td>{{contato.sobrenome}}</td>
            <td>{{contato.email}}</td>
            <td>{{contato.telefone}}</td>
            <td>{{contato.observacao|truncatewords:6}}</td>
            <td>
                <a href="/detail/{{contato.id}}" ><i class="fa fa-search-plus fa-2x" aria-hidden="true"></i></a>
                <a href="/update/{{contato.id}}" ><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></a>
                <a href="/excluir/{{contato.id}}" ><i onclick="return confirm('Você tem certeza?')" type="submit" class="fa fa-times fa-2x" aria-hidden="true"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{%url 'cadastro' %}" ><button type="submit" class="btn btn-primary">Cadastrar</button></a>
<a href="{%url 'sair' %}" ><button type="submit" class="btn btn-success">Sair</button></a>

{% endblock %}