{% extends 'base.html' %}

{% block head_title %}Editar | {{ block.super }}{% endblock head_title %}

{% block content %}
{% include 'navbar.html' %}
<br/><br/><br/><br/>

<form class="form-horizontal" action="." method="POST">{% csrf_token %}
  <fieldset>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="nome">Nome: </label>
      <div class="col-md-4">
          <input class="form-control input-md" id="nome" type="text" name="nome" value="{{ contatos.nome }}" maxlength="150">
       </div>
    </div>
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="sobrenome">Sobrenome: </label>
      <div class="col-md-4">
          <input class="form-control input-md" id="sobrenome" type="text" name="sobrenome" value="{{ contatos.sobrenome }}" maxlength="30">
       </div>
    </div>
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="email">E-mail: </label>
      <div class="col-md-4">
          <input class="form-control input-md" id="email" type="text" name="email" value="{{ contatos.email }}">
       </div>
    </div>
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="telefone">Telefone: </label>
      <div class="col-md-4">
          <input class="form-control input-md" id="telefone" type="text" name="telefone" value="{{ contatos.telefone }}" maxlength="20">
       </div>
    </div>
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="observacao">Observacao: </label>
      <div class="col-md-4">
        <input class="form-control input-md" id="observacao" type="text" name="observacao" value="{{ contatos.observacao }}" maxlength="400">
       </div>
    </div>
    
      <!-- Button (Double) -->
      <div class="form-group">
        <label class="col-md-4 control-label" for="btnCancel">Salvar dados</label>
        <div class="col-md-8">
          <button type="submit"  id="btnSave" name="btnSave" class="btn btn-primary">Salvar</button>
          <a id="btnCancel" name="btnCancel" class="btn btn-success" href="{% url 'listar' %}">Cancelar</a>
        </div>
      </div>
  </fieldset>
</form>

{% endblock %}