Bootsnipp
About
Tools 
Snippets 
Register
Login

"Social Login Page with CSS Background"
Bootstrap 3.3.0 Snippet by arjunkomath
3.3.0 login forms login social
Convert Any File Format
Free file format converter for all video, audio, image, document files.
 PreviewHTMLCSS    Fork this  38.9K   61 Fav  


1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
@charset "UTF-8";
/* CSS Document */
body {
    width:100px;
    height:100px;
  background: -webkit-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #16222A 10%, #3A6073 90%); /* W3C */
font-family: 'Raleway', sans-serif;
}
p {
    color:#CCC;
}
.spacing {
    padding-top:7px;
    padding-bottom:7px;
}
.middlePage {
    width: 480px;
    height: 300px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
Similar snippets: See More
66  1 
Full Page Log In With Background

341  0 
Full Page Log In With Background

294  0 
Full Page Log In With Background


299  0 
Full Page Log In With Background


Convert Any File Format
Free file format converter for all video, audio, image, document files.
Comments:

 Follow @bootsnipp  Tweet
Bootsnipp.com © 2015 Dan's Tools | Site Privacy policy | Advertise | Featured snippets are MIT license.