{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel='shortcut icon' type='image/x-icon' href="{% static 'favicon.ico' %}" />

    <title>{% block head_title %}Django CRUD{% endblock head_title %}</title>

    {% include 'head_files.html' %}

  </head>

  <body>
    <div class="container">
      
      {% block content %}{% endblock %}
    
    </div> <!-- /container -->

    {% include 'body_files.html' %}

  </body>
</html>