{% extends 'base.html' %}

{% block head_title %}Home | {{ block.super }}{% endblock head_title %}

{% block content %}
{%if user.is_authenticated %}
    {% include 'navbar.html' %}
{% else %}
<div class="middlePage">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Acesso ao sistema</h3>
        </div>
        <div class="panel-body">
        <form class="form-horizontal" action="." method="POST">{% csrf_token %}
            <fieldset>
              <input id="username" name="username" type="text" placeholder="login" class="form-control input-md">
              <div class="spacing">
                  <input type="checkbox" name="checkboxes" id="checkboxes-0" value="1"><small> Remember me</small>
              </div>
              <input id="password" name="password" type="password" placeholder="Senha" class="form-control input-md">
              <div class="spacing"></div>
              <button id="singlebutton" name="singlebutton" class="btn btn-info btn-sm pull-right">Sign In</button>
            </fieldset>
        </form>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}