<style type="text/css">
nav.navbar-findcond {
   	background-color: #d9edf7 !important;
    border-color: #bce8f1 !important;
}
nav.navbar-findcond a {
    color: inherit !important;
}
nav.navbar-findcond ul.navbar-nav a {
    color: inherit !important;

}
</style>

<nav class="navbar navbar-findcond navbar-fixed-top">
    <div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">Django CRUD</a>
		</div>
		<div class="collapse navbar-collapse" id="navbar">
			<ul class="nav navbar-nav navbar-right">
			   	<li><a>Olá! {{ user }}<span class="sr-only"></span></a></li>
				<!--<li class="dropdown">-->
				<!--	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-fw fa-bell-o"></i> Bildirimler <span class="badge">0</span></a>-->
				<!--	<ul class="dropdown-menu" role="menu">-->
				<!--		<li><a href="#"><i class="fa fa-fw fa-tag"></i> <span class="badge">Music</span> sayfası <span class="badge">Video</span> sayfasında etiketlendi</a></li>-->
				<!--		<li><a href="#"><i class="fa fa-fw fa-thumbs-o-up"></i> <span class="badge">Music</span> sayfasında iletiniz beğenildi</a></li>-->
				<!--		<li><a href="#"><i class="fa fa-fw fa-thumbs-o-up"></i> <span class="badge">Video</span> sayfasında iletiniz beğenildi</a></li>-->
				<!--		<li><a href="#"><i class="fa fa-fw fa-thumbs-o-up"></i> <span class="badge">Game</span> sayfasında iletiniz beğenildi</a></li>-->
				<!--	</ul>-->
				<!--</li>-->
				<li class="active"><a href="{%url 'cadastro' %}">Cadastrar <span class="sr-only">(current)</span></a></li>
				<li class="active"><a href="{%url 'listar' %}">Listar <span class="sr-only">(current)</span></a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Admin <span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="{%url 'sair' %}">Logout</a></li>
						<li class="divider"></li>
						<li><a href="#">Conta</a></li>
		
					</ul>
				</li>
			</ul>
			<form class="navbar-form navbar-right search-form" role="search">
				<input type="text" class="form-control" placeholder="Search" />
			</form>
		</div>
	</div>
</nav>